.row.title
  .s12.m4
    .card
      .card-content
        %h1 
          = "#{@user.nickname}さん"
          =link_to "ユーザー情報編集",  edit_user_path(current_user),  class: 'btn'
.row
  %ul.collection 
    .form.collection-item
      .main_content
        .card.text_form
          %h1
            = "年齢:  #{} 才"
      .main_content
        .card.text_form
          %h1
            = "身長:  #{} cm"
      .main_content
        .card.text_form
          %h1
            = "体重:  #{} kg"
      .main_content
        .card.text_form
          %h1
            = "目標摂取カロリー:  #{} kcal"
        
      .main_content
        .card.text_form
          %h1
            = "PFCバランス:  P:#{}   F:#{}   C:#{}"
      .main_content
        .card.text_form
          %h1
            = "目標体重:  #{} kg"

           