.card
  .card-content    
    #contents.bgcolor-white.pt1em.pb1em
      #main_cnt_wrapper
        #yjContentsBody
          .yjContainer
            .login-form
              %h1
                Diet-log-val
              .test-user
                %h3 ↓ゲストアカウント
                %h3 email : test@com
                %h3 password: 12345678
              %h3 ログイン
              = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                %div
                  = f.email_field :email, autofocus: true, :placeholder => 'メールアドレスを入力'
                %div
                  = f.password_field :password, autocomplete: "off", :placeholder => 'パスワードを入力'
                  .submit= f.submit :value=>"ログイン", :class=>"btn"
              .more_link_box
                %strong まだアカウントを持っていませんか？
                %br
                = render "devise/shared/links"
