.row.title
  .s12.m4
    .card
      .card-content
        %h1 体重管理編集
.row
  %ul.collection 
    .form.collection-item
      = form_for [@user_wight] do |f|
        .main_content
          .card.text_form
            = f.label :体重
            = f.text_field :wight,placeholder: '    wight(kg)'
            %P 0.1kg単位で数字のみ入力ください
            %P 毎日寝起きの体重を記録することが理想的です
        .datetime
          = f.datetime_select :start_time, class:"datepicker"
        %br
        %br
        = f.submit '登録', class: 'form__submit waves-effect waves-light btn'
        = link_to '削除', "/user_wights/#{@user_wight.id}", method: :delete, class:'waves-effect waves-light btn'