- path = "#{request.fullpath}"
- sum_this_month_calory = Log.where('start_time LIKE(?)', "#{Time.now.strftime('%Y-%m')}%").sumkcal.to_i
- sum_today_calory  = Log.where('start_time LIKE(?)', "#{Time.now.strftime('%Y-%m-%d')}%").sumkcal.to_i
- sum_month_calory = Log.where('start_time LIKE(?)', "#{path.delete("/?start_date=").gsub(/(.{3})$/, '')}%").sumkcal.to_i
- params[:start_date]||= Date.today.strftime('%Y-%m-%d')
- count_month_days =  Date.parse(params[:start_date]).end_of_month.day


.row.title
  .s12.m4
    .card
      .card-content
        %p 
          あなたの目標摂取カロリー　2,120 kcal/日
        %p
          あなたの設定PFCバランス　P140g  F40g  C280g
        %p
          進捗達成率(kcal)
          = (2120*100*(Time.now.day-1).to_f / (sum_this_month_calory - sum_today_calory).to_f).to_i.to_s + "%"
          -if Date.today.strftime('%d') == 01
            %p 
              今日の摂取カロリー   
              = (sum_today_calory).to_s + "kcal/日"
          -else
            -if is_this_month(params[:start_date]) || path == "/logs"
              %p
                今月の平均摂取カロリー
                =  ((sum_this_month_calory - sum_today_calory)/(Time.now.day-1)).to_s + "kcal/日"
              %p
                今日の合計摂取カロリー
                =   (sum_today_calory).to_s + "kcal"
            -else
              %p 平均摂取カロリー      #{ sum_month_calory / Date.parse(params[:start_date]).end_of_month.day}kcal/日
.row.title
  .s12.m4
    .card
      .card-content
        =link_to '週カレンダーへ', week_index_logs_path,  method: :get,  class:'waves-effect waves-light btn'
        = month_calendar events: @logs do |date, logs|
          =link_to date.day
          %br
          = "<食事一覧>"
          - logs.each do |log|
            %div
              = link_to log.name, edit_log_path(log)
          .bottom-content
            - if is_this_month(params[:start_date]) || path == "/logs"
              = "<daily>"
              %br
              = "#{Log.where('start_time LIKE(?)',"#{Time.now.strftime('%Y-%m')}-#{sprintf('%02d',date.day)}%").sumkcal.to_i}kcal/日"
              %br
              = "体重65kg"
            - else
              %br
                = "#{Log.where('start_time LIKE(?)',"#{path.delete("/?start_date=").gsub(/(.{3})$/, '')}-#{sprintf('%02d',date.day)}%").sumkcal.to_i}kcal/日"
                %br
                = "体重65kg"
                format('%04d', 10)


%p
  = "#{Time.now.day-1}"
            