.row.title
  .s12.m4
    .card
      .card-content
        %p 食事管理登録
.row
  %ul.collection 
    .form.collection-item
      = form_for [@log] do |f|
        .main_content
          .card.text_form
            %p 食品名
            = f.text_field :name,placeholder: '    food'
            %p タンパク質
            = f.text_field :protein,placeholder: '    protein(g)'
            %p 脂質
            = f.text_field :fat,placeholder: '    fat(g)'
            %p 炭水化物
            = f.text_field :carbohydrate,placeholder: '    carbohydrate(g)'
            .datetime
              = f.datetime_select :start_time, class:"datepicker"
            -# %i.form_add.waves-effect.waves-light.btn.waves-input-wrapper{:style => "", "data-disable-with" => "フォーム追加",  :id => "form_add", :name => "commit", :type => "form_add", :value => "フォーム追加"} フォーム追加
        %br
        %br
        = f.submit '登録', class: 'form__submit waves-effect waves-light btn'  