
.row.title
  .s12.m4
    .card
      .card-content
        %p 食事管理登録
.row
  %ul.collection 
    .form.collection-item
      = form_for [@log] do |f|
        .main_content
          .card.text_form.log_new_form
            %p 食品名
            = f.text_field :name, index: 0, placeholder: '    food'
            %p タンパク質
            = f.text_field :protein, index: 0, placeholder: '    protein(g)'
            %p 脂質
            = f.text_field :fat, index: 0, placeholder: '    fat(g)'
            %p 炭水化物
            = f.text_field :carbohydrate ,index: 0, placeholder: ' carbohydrate(g)'
            .datetime
              = f.datetime_select :start_time, index: 0, class:"datepicker"
        .bottom-btn.center
          %i.form_add.waves-effect.waves-light.btn.waves-input-wrapper{:style => "", "data-disable-with" => "フォーム追加",  :id => "form_add", :name => "commit", :type => "form_add", :value => "フォーム追加"} 入力フォーム追加
          %i.form_remove.waves-effect.waves-light.btn.waves-input-wrapper{:style => "", "data-disable-with" => "削除",  :id => "form_remove", :name => "commit", :type => "form_remove", :value => "フォーム追加"} 入力フォーム削除
          %br
          = f.submit '新規登録', class: 'form__submit waves-effect waves-light  btn'  