- path = "#{request.fullpath}"
.row.title
  .card
    .card-content
      =link_to '月カレンダー', root_path,  method: :get,  class:'waves-effect waves-light btn'
      = week_calendar events: @logs do |date, logs|
        = link_to date.day
        %br
        = "<食事一覧>"
        - logs.each do |log|
          %div
            = link_to log.name, log
        -# カレンダーの日付を用いた変数の定義
        - sum_oneday_logs = Log.where('start_time LIKE(?)',"#{date.strftime('%Y-%m-%d')}%")
        -if path == "/logs/week_index"
          .bottom-content
            %p
              = "<PFCバランス>" 
            %p
              = "P #{sum_oneday_logs.sumprotein.to_i}g"
            %p
              = "F #{sum_oneday_logs.sumfat.to_i}g"
            %p
              = "C #{sum_oneday_logs.sumcarbohydrate.to_i}g"
            %p
              = "<daily>"
            %p
              = "#{sum_oneday_logs.sumkcal.to_i}kcal/日"
            %p
              = "<体重>"
              %br
              -if (weights = current_user.weight_logs.where('start_time LIKE(?)', "#{date.strftime('%Y-%m-%d')}%")).present?
                = link_to "#{weights.last.weight}kg", edit_weight_log_path(weights.last.id)
        -else  
          .bottom-content
            %p
              = "<PFCバランス>" 
            %p
              = "P #{sum_oneday_logs.sumprotein.to_i}g"
            %P
              = "F #{sum_oneday_logs.sumfat.to_i}g"
            %P
              = "C #{sum_oneday_logs.sumcarbohydrate.to_i}g"
            %p
              = "<daily>"
            %p
              = "#{sum_oneday_logs.sumkcal.to_i}kcal/日"
            %p
              = "<体重>"
              %br
              -if (weights = current_user.weight_logs.where('start_time LIKE(?)', "#{date.strftime('%Y-%m-%d')}%")).present?
                = link_to "#{weights.last.wight}kg", edit_weight_log_path(weights.last.id)

    