!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DietLogApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if user_signed_in?
      %nav.grey.darken-4{:class => "#212121"}
        .nav-wrapper
          %a.brand-logo.right{:href => "/logs"} Diet log val
          %ul#nav-mobile.left.hide-on-med-and-down
            %li
              =link_to 'イントロダクション',  intro_app_logs_path, method: :get
            %li
              =link_to '食事管理登録',  new_log_path, method: :get
            %li
              =link_to 'カレンダー', logs_path, method: :get
            %li
              =link_to 'ユーザー情報', user_path(current_user), method: :get
            %li
              =link_to '体重管理'
            %li
              =link_to 'ログアウト',  destroy_user_session_path, method: :delete                   
    - else
      %nav.grey.darken-4{:class => "#212121"}
        .nav-wrapper
          %a.brand-logo.right{:href => "/logs"} Diet log val
          %ul#nav-mobile.left.hide-on-med-and-down
            %li
              =link_to 'イントロダクション',  intro_app_logs_path, method: :get   
            %li
              =link_to 'ユーザー新規登録',  new_user_registration_path, method: :get
            %li
              =link_to 'ログイン',  user_session_path, method: :post                 
    
    - flash.each do |key, value|
      = content_tag(:div, value, class: "#{key}")    
    = yield
    / JavaScript at end of body for optimized loading

